
<div class="container mt-4 w-50 ">
  <div class="card">

    <div class="card-header text-center">
      <h3>Cambiar contrasena</h3>
    </div>

    <div class="card-body">
      <form id="frmPassw" [formGroup]="frmPassw" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="passw" id="passw" placeholder="Contrasena actual"
          >
          <label for="passw">Contrasena</label>
          <div class="alert alert-danger"*ngIf="frmPassw.controls['passw'].invalid && frmPassw.controls['passw'].touched">
            <div *ngIf="frmPassw.controls['passw'].errors!['required']">Debe ingresar la contrasena</div>
            <div *ngIf="frmPassw.controls['passw'].errors!['invalid']">Contrasena actual invalida</div>
          </div>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" formControlName="passwN" id="passwN" placeholder="Nueva Contrasena"
          >
          <label for="passwN">Nueva contrasena</label>
            <div class="alert alert-danger"*ngIf="c.controls['passwN'].invalid && c.controls['passwN'].touched">
              <div *ngIf="frmPassw.controls['passwN'].errors!['required']">Debe ingresar la contrasena nueva</div>
            </div>
        </div>

        <div class="form-floating mt-4">
          <input type="password" class="form-control" formControlName="passwR" id="passwR" placeholder="Contrasena"

          >
          <label for="passwR">Confirmar Contrasena</label>
          <div class="alert alert-danger"*ngIf="frmPassw.controls['passwR'].invalid && frmPassw.controls['passwR'].touched">
            <div *ngIf="frmPassw.controls['passwR'].errors!['required']">Debe repetir la contrasena nueva</div>
          </div>
        </div>

          <div class="alert alert-success" *ngIf="saved">
            Contrasena cambiada de forma exitosa
          </div>

        <div *ngIf="c.errors?.['coincide'] && c.controls['passwR'].touched" class="alert alert-danger">
            Las contrasenas no coinciden
        </div>

      </form>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary"
                [disabled]="frmPassw.invalid"
                type="submit"
                form="frmPassw"
        >
          Cambiar Contrasena
        </button>
        <button class="btn btn-danger ms-3" (click)="onClose()">Cerrar</button>
      </div>

    </div>
  </div>
</div>

