
<div class="container mt-4">

  <div class="card">
    <div class="card-header text-center">
      <h4>Catalogo Clientes </h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <table class="table table-hover table-sm">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido1</th>
          <th scope="col">Apellido2</th>
          <th scope="col">telefono</th>
          <th scope="col">celular</th>
          <th scope="col">Correo</th>
          <th [colSpan]="2" class="text-center">
            <button class="btn btn-primary btn-sm" (click)="onNew()">
              <fa-icon [icon]="['fas','plus']"></fa-icon>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bryan</td>
          <td>Cortes</td>
          <td>Sanchez</td>
          <td>123456</td>
          <td>1111111</td>
          <td>bryan@gmail.com</td>
          <td class="text-center">
            <button class="btn btn-secondary btn-sm" (click)="onEdit()">
              <fa-icon [icon]="['fas','pen-to-square']"></fa-icon>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm" (click)="onDelete()">
              <fa-icon [icon]="['fas','trash-can']"></fa-icon>
            </button>
          </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Bryan1</td>
          <td>Cortes1</td>
          <td>Sanchez1</td>
          <td>123456</td>
          <td>1111111</td>
          <td>bryan1@gmail.com</td>
          <td class="text-center">
            <button class="btn btn-secondary btn-sm">
              <fa-icon [icon]="['fas','pen-to-square']"></fa-icon>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm">
              <fa-icon [icon]="['fas','trash-can']"></fa-icon>
            </button>
          </td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Bryan2</td>
          <td>Cortes2</td>
          <td>Sanchez2</td>
          <td>123456</td>
          <td>1111111</td>
          <td>bryan2@gmail.com</td>
          <td class="text-center">
            <button class="btn btn-secondary btn-sm">
              <fa-icon [icon]="['fas','pen-to-square']"></fa-icon>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm">
              <fa-icon [icon]="['fas','trash-can']"></fa-icon>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-footer text-end">

      <button class="btn btn-outline-primary btn-sm me-2" (click)="onFilter()">
        <fa-icon [icon]="['fas','filter']"></fa-icon> Filtrar
      </button>

      <button class="btn btn-outline-success btn-sm me-2">
        <fa-icon [icon]="['fas','print']"></fa-icon> Imprimir
      </button>

      <button class="btn btn-outline-danger btn-sm">
        <fa-icon [icon]="['fas','power-off']"></fa-icon> Cerrar
      </button>

    </div>
  </div>

</div>
